# Token to authorize with the Discord API.
discord_token=

# Discord API Client ID
client_id=

# Discord API Client Secret
client_secret=

# Discord API Application ID
application_id=

# URL of the proxy to use for Discord REST API requests.
# Can be left empty to not proxy requests.
discord_rest_proxy=

# Amount of shards that run.
shard_count=1

# The current shard. 
# This will be unique per shard instance, and is overridden on the container level. 
# For debugging purposes, you want ID 0.
current_shard=0

# Username to connect to the Postgres database with.
postgres_username=

# Password to connect to the Postgres database with.
postgres_password=

# Name of the Postgres database to connect to.
postgres_database=

# Hostname (or IP) of the Postgres database to connect to.
postgres_host=

# Port of the Postgres database to connect to.
postgres_port=

# Master key used for encryption and decryption of some database values. This should be a random string of exactly 32 characters and must NOT change after being set. Doing so will render most of your database useless!
master_key=

# Connection string for Redis cache. Not necessary in development, as cache will be in memory.
redis_connection_string

# Environment variables to be used by Postgres container itself
POSTGRES_PASSWORD=${postgres_password}
POSTGRES_USER=${postgres_username}
