# Environment variables for Discord connection
discord_token="token"
discord_client_id=0
discord_client_secret="secret"
shard_count=1

# Leave empty when not proxying, otherwise set to the URL of the proxy server
# https://github.com/twilight-rs/http-proxy
discord_rest_proxy=http://rest_proxy:80

# Postgres connection configuration
postgres_username=postgres
postgres_password=password
postgres_database=modcore_next
postgres_host=postgres
postgres_port=5432

# Redis connection string
redis_connection_string=redis:6379

# Environment variables for the Postgres container itself
POSTGRES_PASSWORD=${postgres_password}
POSTGRES_USER=${postgres_username}
