*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    color: white;
    background-color: #181818;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    width: calc(100% - 30px);
    height: 50px;
    background-color: #151515;
    line-height: 50px;
    padding: 0 15px 0 15px;
}

#footer {
    width: calc(100% - 30px);
    height: 50px;
    background-color: #151515;
    line-height: 50px;
    padding: 0 15px 0 15px;
}

#content{
    min-height: calc(100% - 150px);
    min-width: calc(60% - 50px);
    max-width: 800px;
    margin: auto;
    background-color: #202020;
    padding: 25px;
}

#centerimg{
    width: 160px;
}

#title{
    width: calc(100% - 52px);
    margin-bottom: 25px;
    padding: 25px;
    border-bottom: 2px solid #151515;
    border-right: 2px solid #151515;
    background-color: #181818;
    border-radius: 20px;
    margin-top: 50px;
}

#headerfootermiddletxt{

}

.button {
    padding: 5px 25px 5px 25px;
    border-radius: 50px;
    margin-top: 10px;
    border-bottom: 2px solid lightgreen;
    border-right: 2px solid lightgreen;
    color: white;
    background-color: green;
    display: inline-block;
}

.buttoncolor-orange{
    border-color: orangered;
    background-color: firebrick;
}

.buttoncolor-blue {
    border-color: dodgerblue;
    background-color: midnightblue;
}

a{
    color: white;
}

.textblock{
    text-align: left;
    width: 60%;
    margin: auto;
}

.alignleft{
    float: left;
    text-align: left;
}

.alignright{
    text-align: right;
    float: right;
}

.headlink {
    margin-left: 20px;
}

p{
    padding-top: 10px;
}

li{
    padding-left: 25px;
}

ul, li{
    list-style-position: inside;
}

.lefttext{
    text-align: left;
}

.centertext {
    text-align: center;
}

.btnlink{
    text-decoration: none;
}

#sidebar {
    border-bottom: 2px solid #151515;
    border-right: 2px solid #151515;
    background-color: #181818;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    vertical-align: top;
}

@media only screen and (min-width: 600px) {
    #md {
        width: calc(100% - 350px);
        display: inline-block;
    }

    #sidebar {
        width: 235px;
        display: inline-block;
        margin-top: 45px;
    }
}

@media only screen and (max-width: 600px) {
    #md {
        width: 100%;
    }

    #sidebar {
        width: calc(100% - 65px);
    }
}