@{
    // Add static files as embedded resources!!
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/include/style.css">
    <script src="~/include/script.js"></script>
</head>
<body>
    <div id="header">
        <div class="alignleft">
            ModCore
        </div>
        <div class="alignright"> </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <div class="alignleft"> </div>
        <div class="alignright">
            &copy; Copyright 2020 - Naamloos
        </div>
    </div>
</body>
</html>
