@page "/Wiki"
@model ModCore.Web.Pages.WikiModel
@{
    Layout = "_Layout";
    ViewBag.Title = "ModCore Wiki";
}

@inject ModCore.Web.CoreContainer Cont
@using Markdig;
@using System.IO;
@using System.Text.RegularExpressions;

@addTagHelper *, Westwind.AspNetCore.Markdown

<div class="lefttext">
    <div id="md">
        <markdown>
            @{
                var page = this.Request.Query["p"].ToString();
                if (!Directory.Exists("./wiki"))
                {
                    Directory.CreateDirectory("./wiki");
                }
                if (string.IsNullOrEmpty(page))
                {
                    page = "index";
                }

                if (!System.IO.File.Exists("./wiki/" + page.ToLower() + ".md"))
                {
                    @Html.Raw("# Wiki page not found!\nThis page is either missing or not meant to be here.")
                }
                else
                {

                    var txt = System.IO.File.ReadAllText("./wiki/" + page.ToLower() + ".md");

                    @Html.Raw($"<h1>{char.ToUpper(page[0])}{page.Substring(1)}</h1><hr>");
                    @Html.Raw(txt)
                }
            }
        </markdown>
    </div>
    <div id="sidebar">
        <markdown>
            @{
                if (System.IO.File.Exists("./wiki/sidebar.md"))
                {
                    var txt = System.IO.File.ReadAllText("./wiki/sidebar.md");
                    @Html.Raw(txt)
                }
                else
                {
                    <a href="~/wiki/">Home</a>
                }
            }
        </markdown>
    </div>
</div>