name: Publish Docker image
on:
  release:
    types: [published]

jobs:
  push_to_registry:
    name: Publish Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Get Previous tag
        id: previoustag
        uses: WyriHaximus/github-action-get-previous-tag@master

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner  }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/naamloos/modcore:latest
            ghcr.io/naamloos/modcore:${{ steps.previoustag.outputs.tag }}
      - name: Web Request Action
        uses: Satak/webrequest-action@v1.2.3
        with:
          url: ${{ secrets.PORTAINER_WEBHOOK }}
          method: POST
